<% title(t('.page_title')) %>
    <h1 class="govuk-heading-l">
      <%= t('.heading') -%>
    </h1>

<% if auth_user.is_sau_user? %>
    <%= form_with method: :get, local: true do |f| %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <%= f.govuk_select :pa_id, options_for_select([["No filter", ""]] + @authorities, params[:pa_id]),
            label: { text: "Filter by Public Authority"}, class: "sau-filter"
          %>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <%= f.govuk_select :status, options_for_select(select_filter_options(Request::STATUS - ["Draft"]), params[:status]),
            label: { text: "Filter by Status" }, class: "sau-filter"
          %>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <%= f.govuk_select :rfi, options_for_select([["No filter", ""],["Received","r"],["Pending","p"]], params[:rfi]),
            label: { text: "RFI" }, class: "sau-filter"
          %>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-button-group">
            <%= govuk_button_link_to "Clear filters", sau_dashboard_index_path, secondary: true %>
            <%= f.govuk_submit "Filter", secondary: true, classes: "sau-filter-btn" %>
            <%= govuk_button_link_to "Export as Excel", sau_dashboard_index_path(format: :xlsx, status: params[:status], pa_id: params[:pa_id]), secondary: true %>
          </div>
        </div>
      </div>
    <% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_table do |table|
      table.head do |head|
        head.row do |row|
          row.cell(header: true, text: 'Reference no.')
          row.cell(header: true, text: 'Public Authority')
          row.cell(header: true, text: 'Referral type')
          row.cell(header: true, text: 'Subsidy scheme name / Beneficiary')
          row.cell(header: true, text: 'Status', classes: "app-stack")
          row.cell(header: true, text: '', classes: "app-stack")
          row.cell(header: true, text: 'Last update', classes: "app-stack")
        end

        if @requests.present?
          table.body do |body|
            @requests.each do |request|
              body.row do |row|
                row.cell do |cell|
                  govuk_link_to request.reference_number, sau_request_path(request.id), no_visited_state: true
                end
                row.cell(text: request.pa_name)
                row.cell(text: referral_type_name(request))
                row.cell(text: request.scheme_name.present? ? request.scheme_name : request.beneficiary)
                row.cell(text: request.status, classes: "app-stack")
                row.cell(classes: "app-stack") do |cell|
                  if request.status == "Accepted" 
                    if request.internal_state == "info-required"
                      link_to sau_request_path(request.id), class: "govuk-link", title: "Pending" do
                        govuk_tag(text: "RFI", colour: "red") 
                      end
                    elsif request.internal_state == "rfi-complete"
                      link_to sau_request_path(request.id), class: "govuk-link", title: "Received" do
                        govuk_tag(text: "RFI", colour: "blue") 
                      end
                    end
                  end
                end
                row.cell(text: request.updated_at.strftime("%d/%m/%y"), classes: "app-stack")
              end
            end
          end
        end
      end
    end
%>

  </div>
</div>
<% end %>