<% title(t('.page_title')) %>
<% 
breadcrumbs = {
  "Request progress" => sau_request_path(@information_request.request),
  t('information-requests') => nil
    }
%>
<%= govuk_breadcrumbs(breadcrumbs: breadcrumbs) %>

<h1 class='govuk-heading-l'><%= t('.page_title') %></h1>

<p class='govuk-body'><%= t('.summary') %></p>

<%= form_for @information_request, url: information_request_path(params[:id]), method: :put, :as => :information_request do |f| %>
  <%= f.govuk_error_summary %>
  <%= f.govuk_file_field :request_doc,
        label: {text: "Choose a file"},
        accept: ".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .zip",
        multiple: true,
        enctype: "multipart/form-data",
        class: "upload-input" %>
  <%= render partial: "/layouts/document_list", object: @information_request.ordered_request_doc %>

  <%= f.govuk_submit t("buttons.upload_files"), secondary: true, class: "upload-files-button", name: "upload" %>
  <%= f.govuk_submit class: "upload-continue-button" %>
  
<% end %>