<% title(t('.page_title')) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
    <%= govuk_tabs(title: "Users") do |c|
        c.tab(label: t("sau_groups.admin")) do %>
            <%= render partial: "user_list", locals: {group: "admin"} %>
        <% end 

        c.tab(label: t("sau_groups.lead")) do %>
            <%= render partial: "user_list", locals: {group: "lead"} %>
        <% end 

        c.tab(label: t("sau_groups.team")) do %>
            <%= render partial: "user_list", locals: {group: "team"} %>
        <% end
    end %>

  </div>
</div>
