<% title(t('.page_title')) %>
<% 
breadcrumbs = {
      t("dashboard") => sau_dashboard_index_path,
      t("request_progress") => sau_request_path(params[:id]),
      "Withdraw submission" => nil
    }
%>
<%= govuk_breadcrumbs(breadcrumbs: breadcrumbs) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"><%= t('.page_title') %></h1>

    <p class="govuk-body"><%= t('.summary') %></p>
    <%= govuk_summary_list do |summary_list|
          summary_list.row do |row|
            row.key { 'Uploaded document' }
            if @request.sau_withdrawn_doc.attached?
              row.value(text: @request.sau_withdrawn_doc.filename)
            else
              row.value(text: "")
            end
            row.action(href: withdraw_path, visually_hidden_text: 'document')
          end
      end %>

    <%= form_for @request, url: submit_withdraw_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_submit t('.confirm_button'), classes: "sau-submission-button" %>
    <% end %>
  </div>
</div>