<% title(t('.page_title')) %>
    <h1 class="govuk-heading-l">
      <%= t('.heading') -%>
    </h1>

<% if auth_user.is_pa_super_user? || auth_user.is_pa_std_user? %>
    <%= form_with method: :get, local: true do |f| %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <%= f.govuk_select :status, options_for_select(select_filter_options(Request::STATUS), params[:status]),
            label: { text: "Filter by Status" }, class: "sau-filter"
          %>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <%= f.govuk_select :act, options_for_select(select_filter_options(Request::ACTIONS), params[:act]),
            label: { text: "Filter by Action" }, class: "sau-filter"
          %>
        </div>
        <div class="govuk-grid-column-one-third">
        <br>
          <div class="govuk-button-group">
            <%= govuk_button_link_to "Clear filters", dashboard_path, secondary: true %>
            <%= f.govuk_submit "Filter", secondary: true, class: "sau-filter-btn" %>
            <%= govuk_button_link_to "Export as Excel", dashboard_path(format: :xlsx, status: params[:status], act: params[:act]), secondary: true %>
          </div>
        </div>
      </div>
    <% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_table do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(header: true, text: 'Reference no.')
          row.with_cell(header: true, text: 'Subsidy scheme name')
          row.with_cell(header: true, text: 'Beneficiary name')
          row.with_cell(header: true, text: 'Status', classes: "app-stack")
          row.with_cell(header: true, text: 'Last update', classes: "app-stack")
          row.with_cell(header: true, text: 'Action', classes: "app-stack")
        end
      end
      if @requests.present?
        table.with_body do |body|
          @requests.each do |request|
            body.with_row do |row|
              row.with_cell(text: request.reference_number)
              row.with_cell(text: request.scheme_name)
              row.with_cell(text: request.beneficiary)
              row.with_cell(text: request.status, classes: "app-stack")
              row.with_cell(text: request.updated_at.strftime("%d/%m/%y"), classes: "app-stack")
              row.with_cell(classes: "app-stack") do |cell|
                  action_link(request)
              end
            end
          end
        end
      end
    end
%>

    <%= link_to new_request_path, class: 'govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8', role:"button",draggable: "false", "data-module" => "govuk-button" do %>
      Submit new subsidy or scheme
    <% end %>
  </div>
</div>
<% end %>