<% title(t('.page_title')) %>
<% 
breadcrumbs = {
  t('dashboard') => dashboard_path,
  "Request progress" => request_path(@information_request.request),
  t('information-request') => nil
    }
%>
<%= govuk_breadcrumbs(breadcrumbs: breadcrumbs) %>

<h1 class="govuk-heading-l"><%= t('.heading') %></h1>

  <p class="govuk-body"><%= t('.response-summary') %></p>

  <%= form_for @information_request, url: information_response_path(params[:id]), :as => :information_request do |f| %>    
    <%= f.govuk_error_summary %>
    <%= f.govuk_file_field :documents,
          label: {text: "Choose a file"},
          accept: ".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .zip",
          multiple: false,
          enctype: "multipart/form-data",
          class: "upload-input" %>
    <% if @information_request.response_doc.id.present? %>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr govuk-table__row>
            <th class="govuk-table__header"><%= t("documents_table.headers.file_name") %></th>
            <th class="govuk-table__header app-hide-col"><%= t("documents_table.headers.file_size") %></th>
            <th class="govuk-table__header"><%= t("documents_table.headers.action") %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%=@information_request.response_doc.filename %></td>
            <td class="govuk-table__cell app-hide-col"><%= number_to_human_size(@information_request.response_doc.byte_size) %></td>
            <td class="govuk-table__cell">
              <%= link_to remove_information_response_path, method: :patch, class: 'govuk-link' do %>
                Remove<span class="govuk-visually-hidden"> file <%= @information_request.response_doc.filename %></span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>

  <%= f.govuk_submit t("buttons.upload_files"), secondary: true, classes: "upload-files-button", name: "upload" %>
  <%= f.govuk_submit classes: "upload-continue-button" %>

<% end %>
