<% title(t('.page_title')) %>
<% 
breadcrumbs = {
  t('dashboard') => dashboard_path,
  "Request progress" => request_path(@information_request.request),
  t('information_request') => nil
    }
%>
<%= govuk_breadcrumbs(breadcrumbs: breadcrumbs) %>

<h1 class="govuk-heading-l"><%= t('.heading') %></h1>

<p class="govuk-body"><%= t('.response-summary') %></p>

<%= form_for @information_request, url: information_response_path(params[:id]), :as => :information_request do |f| %>    
  <%= f.govuk_error_summary %>
  <%= f.govuk_file_field :documents,
        label: {text: "Choose a file"},
        accept: ".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .zip",
        multiple: true,
        enctype: "multipart/form-data",
        class: "upload-input" %>
  <%= render partial: "/layouts/document_list", object: @information_request.ordered_response_doc %>

  <%= f.govuk_submit t("buttons.upload_files"), secondary: true, class: "upload-files-button", name: "upload" %>
  <%= f.govuk_submit class: "upload-continue-button" %>

<% end %>
