<%= govuk_table do |table|
    table.head do |head|
        head.row do |row|
        row.cell(header: true, text: 'Request Date')
        row.cell(header: true, text: 'Request Documents')
        row.cell(header: true, text: 'Response Date')
        row.cell(header: true, text: 'Response Documents')
        row.cell(header: true, text: 'Action')
        end
    end

    table.body do |body|
        @request.information_requests.each do |ir|                
            body.row do |row|
                if ir.request_doc.attached?
                  row.cell(text: ir.request_doc[0].created_at.strftime("%d/%m/%y %H:%M"))
                  row.cell do |cell|
                    ir.request_doc.each do |d| %>
                      <%= link_to rails_blob_path(d, "attachment"), class: 'govuk-link' do %>
                        <span class="govuk-visually-hidden">Download file </span><%= d.filename %>
                      <% end %><br />
                    <% end 
                  end
                else
                  row.cell
                  row.cell
                end
                if ir.response_doc.attached? && ir.status == "response-confirmed"
                  row.cell(text: ir.response_doc[0].created_at.strftime("%d/%m/%y %H:%M"))
                  row.cell do |cell|
                    ir.response_doc.each do |d| %>
                      <%= link_to rails_blob_path(d, "attachment"), class: 'govuk-link' do %>
                        <span class="govuk-visually-hidden">Download file </span><%= d.filename %>
                      <% end %><br />
                    <% end
                  end
                else
                  row.cell
                  row.cell
                end
                row.cell do |cell| %>
                    <%= further_info_link(ir, @presenter.info_actions) %>
            <% end
            end
        end
    end
end %>