<% @presenter = SauRequestPresenter.new(@request) %>
<% title(t('.page_title')) %>
<% 
breadcrumbs = {
      t("dashboard") => sau_dashboard_index_path,
      t("request_progress") => nil
    }
%>
<%= govuk_breadcrumbs(breadcrumbs: breadcrumbs) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Submission progress</h1>
      <h2 class="govuk-heading-m">Submission</h2>

    <%= govuk_summary_list(actions: false) do |summary_list|
        summary_list.with_row do |row|
            row.with_key { 'Reference' }
            row.with_value { @request.reference_number }
        end
        if @request.previous_refno
          summary_list.with_row do |row|
            row.with_key { "Previously submitted" }
            row.with_value { "#{@request.previous_refno} (#{@request.previous_status})" }
          end
        end
        summary_list.with_row do |row|
          row.with_key { "Status" }
          row.with_value { @request.status }
        end
        if @request.status == "Accepted" || (@request.status == "Pending withdrawal" && @request.internal_state.include?("Accepted"))
          summary_list.with_row do |row|
            row.with_key { "Report due date" }
            row.with_value do %>
            <div class="app-space-between">
                <%= @request.report_due_date.present? ? @request.report_due_date.strftime("%a %d %B %Y") : nil %>
                <%= govuk_link_to "Change due date", due_date_sau_request_path, no_visited_state: true %>
            </div>
          <% end
          end
        end
        summary_list.with_row do |row|
          row.with_key { "Referral type" }
          row.with_value { t(@request.referral_type&.to_sym, scope: [:helpers, :label, :request, :referral_type_options]) }
        end
        summary_list.with_row do |row|
          row.with_key { "Submitted by" }
          row.with_value do %>
          <% if @request.submitted_by_id.present? %>
            <%= govuk_link_to @request.submitted_by.user_name, "mailto:#{@request.submitted_by.email}?subject=Request #{@request.reference_number}", no_visited_state: true %>
            <% if @request.submitted_by.phone.present? %>
              <p class="govuk-body">Tel: <%= @request.submitted_by.phone %></p>
            <% end 
            end
          end
        end
    end %>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-button-group">
      <% @presenter.actions(auth_user).each do |a| %>
        <%= govuk_button_link_to a[:title], a[:link], class: a[:secondary] ? "govuk-button--secondary" : "" %>
      <% end %>
    </div>

    <%= govuk_tabs(title: "Contents") do |c|
        if %w[Completed Withdrawn Declined Rejected].include?(@request.status)
          c.with_tab(label: "SAU documents") do %>
              <%= render partial: "layouts/submission_report" %>
          <% end 
        end
        if @request.status == "Pending withdrawal" || (@request.status == "Withdrawn" && @request.referral_type != "par")
          c.with_tab(label: "Withdrawal") do %>
              <%= render partial: "layouts/withdrawal" %>
          <% end 
        end
        if !@request.information_requests.load.empty? 
          c.with_tab(label: "Further information requests") do %>
              <%= render partial: "further_information_requests" %>
          <% end
        end
        if ["Accepted", "Pending withdrawal"].include?(@request.status) 
          c.with_tab(label: "SAU documents") do %>
              <%= render partial: "layouts/submission_report" %>
          <% end 
        end
        c.with_tab(label: "Submission documents") do %>
            <%= render partial: "layouts/submission_documents" %>   
        <% end
        c.with_tab(label: "Log") do %>
            <%= render partial: "audit_log" %>   
        <% end
    end %>

  </div>
</div>
