<% title(t('.page_title')) %>
<%= render partial: 'back_link' %>
<h1 class="govuk-heading-l">
  <%= t('.heading') -%>
</h1>

<h2 class="govuk-heading-m">
  Supporting evidence
</h2>

<div class="govuk-inset-text">
  <%= t('.inset_text_html', type: scheme_subsidy_name(@request).downcase) -%>
</div>

<%= form_for @request, url: request_step_path(params[:id]) + "/upload", :as => :request do |f| %>
  <%= f.govuk_error_summary %>
  <%= f.govuk_file_field :documents,
          label: {text: "Choose a file"},
          accept: ".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .zip",
          multiple: false,
          enctype: "multipart/form-data",
          class: "upload-input" %>
  <%= render partial: "document_list", object: @request.assessment_docs %>
  <%= f.govuk_submit t("buttons.upload_files"), secondary: true, classes: "upload-files-button" %>


<%= t(".ac_text_html") %>
  <%= f.govuk_text_area :assess_pa %>
  <%= f.govuk_text_area :assess_pb %>
  <%= f.govuk_text_area :assess_pc %>
  <%= f.govuk_text_area :assess_pd %>
  <%= f.govuk_text_area :assess_pe %>
  <%= f.govuk_text_area :assess_pf %>
  <%= f.govuk_text_area :assess_pg %>

  <%= f.govuk_submit t("buttons.submit"), classes: "upload-continue-button", name: "continue" %>
<% end %>