<% title(t('.page_title')) %>
<%= render partial: 'back_link' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @request, url: request_step_path(params[:id]), :as => :request do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_fieldset legend: {text: t('.fieldset_legend'), size: 'l', tag: 'h1'},
      caption: {text: t("helpers.caption.request.characteristics", type: scheme_subsidy_name(@request)) } do %>
          <%= f.govuk_collection_radio_buttons :ben_id_type, Request::Beneficiary::BEN_ID_TYPE_OPTIONS, ->(option) {option}, nil, 
            legend: { class: "govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular" },
            bold_labels: false, small:true %>
          <%= f.govuk_text_field :ben_id, width: 'one-half'  %>
          <%= f.govuk_text_field :beneficiary %>
          <%= f.govuk_collection_radio_buttons :ben_size, Request::Beneficiary::BEN_SIZE_OPTIONS, ->(option) {option}, nil,
            legend: { class: "govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular" },
            bold_labels: false, small:true %>
      <% end %>

      <%= f.govuk_submit t("buttons.submit") %>
    <% end %>
  </div>
</div>