<% title(t('.page_title')) %>
<%= render partial: 'back_link' %>


    <%= form_for @request, url: request_step_path(params[:id]), :as => :request do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_fieldset legend: {text: t('.fieldset_legend'), size: 'l', tag: 'h1'},
                           caption: { text: t('.fieldset_caption'), size: 'm' } do %>
          <%= f.govuk_text_field :scheme_name, width: 'two-thirds' %> 
          <%= f.govuk_text_field :pa_name, disabled:true, width: 'two-thirds',
            label:{ text: t("helpers.label.request.pa_name.scheme") } %>
          <%= f.govuk_text_field :budget, width: 'one-quarter', prefix_text: '£',
            value: format_numeric(@request, :budget),
            label:{ text: t("helpers.label.request.budget.scheme") },
            hint: {text: t("helpers.hint.request.budget.scheme") }  %>
          <%= f.govuk_collection_select :tax_amt, @request.select_tax_options, :id, :name, class: "sau-tax-select" %>
        <div class="sau-tax-range">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <p class="govuk-body">Enter the correct range</p>
              <p class="govuk-hint">
              The regulation specifies tax awards above £30,000,000 must be specified in ascending ranges of £10,000,000.  for example 30000001 to 40000000 or 40000001 to 50000000.
              </p>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <%= f.govuk_text_field :tax_low, prefix_text: '£', 
                  value: format_numeric(@request, :tax_low) %>
            </div>
            <div class="govuk-grid-column-one-third">
              <%= f.govuk_text_field :tax_high, prefix_text: '£', 
                  value: format_numeric(@request, :tax_high) %>
            </div>
          </div>
        </div>
          <%= f.govuk_text_field :max_amt, width: 'one-quarter', prefix_text: '£',
            value: format_numeric(@request, :max_amt) %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
