<% title(t('.page_title')) %>
<%= render partial: 'back_link' %>

<%= form_for @request, url: request_step_path(params[:id]), :as => :request do |f| %>
  <%= f.govuk_error_summary %>
  <%= f.govuk_fieldset legend: {text: t('.fieldset_legend'), size: 'l', tag: 'h1'},
                       caption: {text: t('.fieldset_caption')} do %>
      <%= f.govuk_text_field :pa_name, width: 'two-thirds', disabled:true,
      label:{ text: t("helpers.label.request.pa_name.subsidy") } %>
 
      <%= f.govuk_collection_select :subsidy_form, @request.select_form_options, :id, :name, class: "sau-form-select" %>
      <div class="sau-other-form">
        <%= f.govuk_text_field :other_form, width: 'two-thirds' %>
      </div>
      <div class="sau-budget">
        <%= f.govuk_text_field :budget, width: 'one-quarter', prefix_text: '£', 
             value: format_numeric(@request, :budget),
          label:{ text: t("helpers.label.request.budget.subsidy") } %>
      </div>
      <div class="sau-tax-amount">
        <%= f.govuk_collection_select :tax_amt, @request.select_tax_options, :id, :name, class: "sau-tax-select" %>
        <div class="sau-tax-range">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <p class="govuk-body">Enter the correct range</p>
              <p class="govuk-hint">
              The regulation specifies tax awards above £30,000,000 must be specified in ascending ranges of £10,000,000.  for example 30000001 to 40000000 or 40000001 to 50000000.
              </p>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <%= f.govuk_text_field :tax_low, prefix_text: '£', 
                  value: format_numeric(@request, :tax_low) %>
            </div>
            <div class="govuk-grid-column-one-third">
              <%= f.govuk_text_field :tax_high, prefix_text: '£', 
                  value: format_numeric(@request, :tax_high) %>
            </div>
          </div>
        </div>
      </div>
      <%= f.govuk_date_field :confirm_date, maxlength_enabled: true, 
           legend: { text: t("helpers.legend.request.confirm_date.subsidy"), size:'s', tag: 'p',
                     class: "govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular" },
           hint: { text: t("helpers.hint.request.confirm_date.subsidy") } %>

      <%= f.govuk_radio_buttons_fieldset(:is_emergency, small:true, 
                                          legend: { size:"s",
                                          text: t("helpers.legend.request.is_emergency", type: scheme_subsidy_name(@request).downcase),
                                          class:"govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular" }) do %>
        <%= f.govuk_radio_button :is_emergency, 'n', link_errors: true %>
        <%= f.govuk_radio_button :is_emergency, 'y' do %>
            <%= f.govuk_text_area :emergency_desc, width: 'two-thirds', max_words: Request::MAX_WORDCOUNT %>
        <% end %>
      <% end %>
  <% end %>

  <%= f.govuk_submit t("buttons.submit") %>
<% end %>