<% title(t('.page_title')) %>
<% 
breadcrumbs = {
  t('dashboard') => dashboard_path,
  t('.page_title') => nil
    }
%>
<%= govuk_breadcrumbs(breadcrumbs: breadcrumbs) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l"><%= t(".heading") %></h1>
<%= form_for @user, url: account_path, method: :patch, :as => :user do |f| %>
    <%= f.govuk_error_summary %>
    <%= f.govuk_text_field :email, width:"two-thirds", disabled: true %>
    <%= f.govuk_text_field :user_name, width:"two-thirds" %>
    <%= f.govuk_text_field :phone, width:"one-third" %>
    <%= f.govuk_submit %>
<% end %>
</div>
</div>